@import "bootstrap_and_overrides";  
@import "bourbon";


body{
	padding-top: 30px;
}

header{
	border-bottom: 1px #eee solid;
	padding-bottom: 20px;
	.nav{
		margin-bottom: 0px;
		li{
			a{
				color: #888;
				font-size: 1.1em;
				.caret{
					border-bottom-color: #888 !important;
				   border-top-color: #888 !important;
				}
			}
		}
	}
}

#title a{
	font-size: 200%;
	color: #000;
}

#title a:hover{
	text-decoration: none;
}

#banner{
	margin-top: 30px;
	h1{
		font-size: 1.8em;
		font-weight: normal;
		color: #333;
		font-family: "Linden Hill, Georgia, serif"
	}
	p{
		font-size: 1.3em;
	}
}

#homeContent{
	h2{
		font: 300 1.6em "Lato", Verdana, sans-serif;
		color: #666;
	}
}